<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item" style="margin-left:20px;">
    <%= link_to t( "homepage"), admin_root_path, class: "nav-link #{'active' if action_name == 'homepage' }", 'aria-current': 'page' %>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        <%= t( "member_management") %>
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong><%= link_to t( "user_list"), admin_root_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "ticket_list"), admin_tickets_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "winner_list"), admin_winners_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "order_list"), admin_orders_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "invite_list"), admin_invites_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        <%= t( "admin_management") %>
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong><%= link_to t( "item_list"), admin_items_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "category_list"), admin_categories_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "offer_list"), admin_offers_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "news_ticker_list"), admin_news_tickers_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "banner_list"), admin_banners_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
          <li class="list-group-item"><strong><%= link_to t( "member_level_list"), admin_member_levels_path, class: "nav-link", 'aria-current': 'page' %></strong></li>
        </ul>
      </div>
    </div>
  </div>
</div>


