<div class="container-fluid border border-black">
  <div class="row ">
    <div class="col-2 border border-black"></div>
    <div class="col-1 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
      <%= link_to 'Logo', client_root_path, class: "nav-link #{'active' if action_name == 'logo'}", 'aria-current': 'page' %>
    </div>
    <div class="col-4 border border-black"></div>
    <div class="col-3 border border-black">
      <div class="row ">
        <div class="col-3 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Coins</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Claim</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Language</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">
          <div class="row">
            <div class="col-1 d-flex justify-content-center">
              <div id="mySidenav" class="sidenav">
                <div class="row">
                  <% if @user %>
                    <div class="row">
                      <div class="col-11">
                        <%= render 'client/partial/left_side' %>
                      </div>
                      <div class="col-1">
                        <%= render 'client/partial/right_side' %>
                      </div>
                    </div>
                  <% else %>
                    <h4><%= link_to 'Sign In', client_user_session_path, class: "nav-link", 'aria-current': 'page' %></h4>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <nav class="navbar navbar-light bg-light" style="box-shadow: 0px 0px 8px #888888;">
            <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="Nav()" style="z-index: 2">
              <div class="animated-icon"><span></span><span></span><span></span></div>
            </button>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-2 border border-black"></div>
  </div>
  <%= render 'client/partial/banner' %>
  <div class="row mb-5"></div>
  <div class="row ">
    <div class="col-2 "></div>
    <div class="col-1 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;" %>Winners
      Feedback
    </div>
    <div class="col "></div>
    <div class="col "></div>
    <div class="col "></div>
    <div class="col "></div>
    <div class="col-2 "></div>
  </div>

  <div class="row">
    <div class="col-2" style="margin-top: 0;"></div>
    <div class="col-8">
      <div class="row">
        <div class="col" style="margin: 10px;padding:0; text-align: center; align-items: center; justify-content: center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNnk8afGYUk1f5HHtOTu9G5GEDshdlN8-LZw&usqp=CAU"
               class="rounded float-start border border-black m-0"
               alt="..." style="border: 1px solid black; border-radius:0%; width: 100%; height: 100%;  margin: auto; padding: 0; display: flex; align-items: center; justify-content: center;">
        </div>

        <div class="col" style="margin: 10px;padding:0; text-align: center; align-items: center; justify-content: center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNnk8afGYUk1f5HHtOTu9G5GEDshdlN8-LZw&usqp=CAU"
               class="rounded float-start border border-black m-0"
               alt="..." style="border: 1px solid black; border-radius:0%; width: 100%; height: 100%;  margin: auto; padding: 0; display: flex; align-items: center; justify-content: center;">
        </div>

        <div class="col" style="margin: 10px;padding:0; text-align: center; align-items: center; justify-content: center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNnk8afGYUk1f5HHtOTu9G5GEDshdlN8-LZw&usqp=CAU"
               class="rounded float-start border border-black m-0"
               alt="..." style="border: 1px solid black; border-radius:0%; width: 100%; height: 100%;  margin: auto; padding: 0; display: flex; align-items: center; justify-content: center;">
        </div>

        <div class="col" style="margin: 10px;padding:0; text-align: center; align-items: center; justify-content: center">
          <div class="btn btn-primary-light border border-black m-0 d-inline-flex p-2"
               style="border: 1px solid black; border-radius:0%; width: 100%; height: 100%;  margin: auto; padding: 0; display: flex; align-items: center; justify-content: center;">
            More...
          </div>
        </div>

      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row mb-5"></div>
  <div class="row ">
    <div class="col-2 "></div>
    <div class="col-1 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;" %>
      Coming soon
    </div>
    <div class="col "></div>
    <div class="col "></div>
    <div class="col "></div>
    <div class="col "></div>
    <div class="col-2 "></div>
  </div>

  <div class="row">
    <div class="col-2" style="margin-top: 0;"></div>
    <div class="col-8">
      <div class="row">
        <div class="col" style="margin: 10px;padding:0; text-align: center; align-items: center; justify-content: center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNnk8afGYUk1f5HHtOTu9G5GEDshdlN8-LZw&usqp=CAU"
               class="rounded float-start border border-black m-0"
               alt="..." style="border: 1px solid black; border-radius:0%; width: 100%; height: 100%;  margin: auto; padding: 0; display: flex; align-items: center; justify-content: center;">
        </div>

        <div class="col" style="margin: 10px;padding:0; text-align: center; align-items: center; justify-content: center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNnk8afGYUk1f5HHtOTu9G5GEDshdlN8-LZw&usqp=CAU"
               class="rounded float-start border border-black m-0"
               alt="..." style="border: 1px solid black; border-radius:0%; width: 100%; height: 100%;  margin: auto; padding: 0; display: flex; align-items: center; justify-content: center;">
        </div>

        <div class="col" style="margin: 10px;padding:0; text-align: center; align-items: center; justify-content: center">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNnk8afGYUk1f5HHtOTu9G5GEDshdlN8-LZw&usqp=CAU"
               class="rounded float-start border border-black m-0"
               alt="..." style="border: 1px solid black; border-radius:0%; width: 100%; height: 100%;  margin: auto; padding: 0; display: flex; align-items: center; justify-content: center;">
        </div>

        <div class="col" style="margin: 10px;padding:0; text-align: center; align-items: center; justify-content: center">
          <div class="btn btn-primary-light border border-black m-0 d-inline-flex p-2"
               style="border: 1px solid black; border-radius:0%; width: 100%; height: 100%;  margin: auto; padding: 0; display: flex; align-items: center; justify-content: center;">
            More...
          </div>
        </div>

      </div>
    </div>
    <div class="col-2"></div>
  </div>


  <div class="row mb-4"></div>
  <div class="row mb-4"></div>

  <%= render 'client/partial/application_down' %>
</div>
