<% if @ticket&.errors&.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@ticket.errors.count, "error") %></h2>
    <ul>
      <% @ticket.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container-fluid border border-black">
  <div class="row">
    <div class="col-2 border border-black"></div>

    <div class="col-1 border border-black d-inline-flex p-2 text-center align-items-center justify-content-center">
      <%= link_to 'Logo', client_root_path, class: "nav-link #{'active' if action_name == 'logo'}", 'aria-current': 'page' %>
    </div>

    <div class="col-4 border border-black"></div>

    <div class="col-3 border border-black">
      <div class="row">
        <div class="col-3 border border-black d-inline-flex p-2 text-center align-items-center justify-content-center">Coins</div>
        <div class="col-3 border border-black d-inline-flex p-2 text-center align-items-center justify-content-center">Claim</div>
        <div class="col-3 border border-black d-inline-flex p-2 text-center align-items-center justify-content-center">Language</div>

        <div class="col-3 border border-black d-inline-flex p-2 text-center align-items-center justify-content-center">
          <div class="row">
            <div class="col-1 d-flex justify-content-center">
              <div id="mySidenav" class="sidenav">
                <div class="row">
                  <% if @user %>
                    <div class="row">
                      <div class="col-11">
                        <%= render 'client/partial/left_side' %>
                      </div>
                      <div class="col-1">
                        <%= render 'client/partial/right_side' %>
                      </div>
                    </div>
                  <% else %>
                    <h4><%= link_to 'Sign In', client_user_session_path, class: "nav-link", 'aria-current': 'page' %></h4>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <nav class="navbar navbar-light bg-light" style="box-shadow: 0px 0px 8px #888888;">
            <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="Nav()" style="z-index: 2">
              <div class="animated-icon"><span></span><span></span><span></span></div>
            </button>
          </nav>
        </div>
      </div>
    </div>

    <div class="col-2 border border-black"></div>
  </div>

  <div class="row mb-2"></div>

  <div class="row">
    <div class="col-2"></div>

    <div class="col-8">
      <div class="row mt-4">
        <div class="col-md-8 mx-auto">
          <div class="card" style="width: 100%;">
            <img class="card-img-top img-fluid" src="<%= @item.image.url %>" alt="Item Image">
            <div class="card-body">
              <p class="card-text"><%= @item.name %></p>
              <div class="progress">
                <% progress_percentage = [@progress_percentage, 100].min %> <!-- Ensure it doesn't exceed 100% -->
                <% progress_percentage = progress_percentage.to_i %> <!-- Remove decimal points -->
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                     aria-valuenow="<%= progress_percentage %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress_percentage.to_s + '%' %>;">
                  <%= progress_percentage.to_s + '%' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= form_with model: @ticket, url: client_lottery_index_path, method: :post, data: { turbo: false } do |form| %>
        <div class="row mt-4">
          <div class="col-md-8 mx-auto">
            <div class="container border border-gray">
              <div class="row">
                <div class="col border border-gray" style="background-color: lightgray; text-align: center; width:100%; height:100%; align-items: center; justify-content: center;">
                  <button type="button" id="decrementQuantity" class="btn btn-secondary" style="background-color: lightgray; border:none; width:100%; height:100%; text-align:center; color:black;">-</button>
                </div>
                <div class="col-8 border border-gray" style="text-align: center; align-items: center; justify-content: center;">
                  <%= form.number_field :quantity, value: 0, min: 0, style: "border:none; width:100%; height:100%; text-align:center; color:black;", id: "ticket_quantity" %>
                  <%= form.hidden_field :item_id, value: @item.id %>
                </div>
                <div class="col border border-gray" style="background-color: lightgray; text-align: center; width:100%; height:100%; align-items: center; justify-content: center;">
                  <button type="button" id="incrementQuantity" class="btn btn-secondary" style="background-color: lightgray; border:none; width:100%; height:100%; text-align:center; color:black;">+</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-4">
          <div class="col-md-8 mx-auto">
            <div class="container border border-gray">
              <div class="row">
                <div class="col" style="padding: 0; text-align: center; align-items: center; justify-content: center; color:white;">
                  <%= form.submit "Submit", style: "border:none; width:100%; height:100%; background-color: blue; text-align: center; align-items: center; justify-content: center; color:white;" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <div class="row mt-4">
        <div class="col-md-8 mx-auto">
          <div class="card w-100">
            <div class="card-body">
              <h5 class="card-title">Serial Numbers</h5>
              <% if current_client_user %>
                <ul class="list-group list-group-flush">
                  <% current_user_tickets = Ticket.where(user_id: current_client_user.id, item_id: @item.id, batch_count: @item.batch_count) %>
                  <% current_user_tickets.each do |ticket| %>
                    <li class="list-group-item border d-flex justify-content-between align-items-center">
                      <%= ticket.serial_number %>
                      <% if ticket.cancelled? %>
                        <span class="badge bg-danger">Cancelled</span>
                      <% end %>
                    </li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mb-2"></div>
<div class="row mb-4"></div>

<%= render 'client/partial/application_down' %>
</div>
