<%= render 'admin/partial/top_nav' %>
<div class="row">
  <div class="col-2 border border-black border-top-o">
    <%= render 'admin/partial/left_nav' %>
  </div>
  <div class="col-10">
    <div class="row">
      <p></p>
      <h3 class="container" style="background-color: #8bb9fe; text-align: center; align-items: center; justify-content: center">ORDER
        LIST</h3>
      <p></p>
    </div>
    <div class="row">
      <div class="container border border-black p-4">
        <%= form_with(url: admin_orders_path, method: :get, class: 'mb-3') do |f| %>
          <div class="row mb-3">

            <div class="col-md-4">
              <%= f.label :offer, class: 'form-label' %>
              <%= select_tag 'name', options_for_select(@name_options, params[:name]), include_blank: true, class: 'form-select' %>
            </div>

            <div class="col-md-4">
              <%= f.label :state, class: 'form-label' %>
              <%= f.select :state, Order.aasm.states.map(&:name), { include_blank: true, selected: params[:state] }, class: 'form-select' %>
            </div>

            <div class="col-md-4">
              <%= f.label :genre, class: 'form-label' %>
              <%= f.select :genre, Order.genres.keys.map { |s| [s.humanize, s] }, { include_blank: true, selected: params[:genre] }, class: 'form-select' %>
            </div>

            <div class="col-md-4">
              <%= f.label :serial_number, class: 'form-label' %>
              <%= f.text_field :serial_number, value: params[:serial_number], class: 'form-control' %>
            </div>

            <div class="col-md-4">
              <%= f.label :email, class: 'form-label' %>
              <%= f.text_field :email, value: params[:email], class: 'form-control' %>
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-md-4">
              <%= f.label :start_date, class: 'form-label' %>
              <%= f.date_field :start_date, value: params[:start_date], class: 'form-control' %>
            </div>
            <div class="col-md-4">
              <%= f.label :end_date, class: 'form-label' %>
              <%= f.date_field :end_date, value: params[:end_date], class: 'form-control' %>
            </div>
          </div>

          <%= f.submit 'Search', class: 'btn btn-primary' %>
        <% end %>
        <div class="container" style="background-color: skyblue; padding: 20px;">
          <h2 class="mb-4">Order Summary</h2>

          <div class="row">
            <div class="col-md-6">
              <p class="mb-2"><strong>Total Amount: </strong> <%= @total_amount %></p>
              <p class="mb-2"><strong>Total Coins: </strong> <%= @total_coins %></p>
            </div>

            <div class="col-md-6">
              <p class="mb-2"><strong>Subtotal Amount: </strong> <%= @sub_total_amount %></p>
              <p class="mb-2"><strong>Subtotal Coin: </strong> <%= @sub_total_coin %></p>
            </div>
          </div>
        </div>
        <p></p>
        <% @orders.each_slice(4) do |order_slice| %>
          <div class="row mb-3">
            <% order_slice.each do |order| %>
              <div class="col-md-3">
                <div class="d-flex h-100">
                  <div class="card w-100">
                    <div class="card-body">
                      <h5>
                        <div class="card-footer text-muted">
                          <p class="card-text"><strong>Offer: </strong><%= order.offer&.name %></p>
                        </div>
                      </h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Ordered by:</strong> <%= order.user&.email %></li>
                        <li class="list-group-item"><strong>Amount:</strong> <%= order.amount %></li>
                        <li class="list-group-item"><strong>Coins:</strong> <%= order.coin %></li>
                        <li class="list-group-item"><strong>Serial Number:</strong> <%= order.serial_number %></li>
                        <li class="list-group-item"><strong>Genre:</strong> <%= order.genre %></li>
                        <li class="list-group-item"><strong>State:</strong> <%= order.state %></li>
                        <p></p>
                        <% if order.may_pay? %>
                          <%= button_to 'Pay', pay_admin_order_path(id: order), method: :post, class: 'btn btn-danger' %>
                        <% end %>
                        <% if order.may_cancel? %>
                          <%= button_to 'Cancel', cancel_admin_order_path(id: order), method: :post, class: 'btn btn-danger' %>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
        <nav aria-label="Page navigation">
          <ul class="pagination justify-content-center">
            <% if @orders.prev_page %>
              <li class="page-item">
                <%= link_to '« Prev', { page: @orders.prev_page }, class: 'page-link' %>
              </li>
            <% end %>

            <% (1..@orders.total_pages).each do |page| %>
              <li class="page-item <%= 'active' if page == @orders.current_page %>">
                <%= link_to page, { page: page }, class: 'page-link' %>
              </li>
            <% end %>

            <% if @orders.next_page %>
              <li class="page-item">
                <%= link_to 'Next »', { page: @orders.next_page }, class: 'page-link' %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
<div class="row border border-black"></div>