<%= render 'admin/partial/top_nav' %>
<div class="row">
  <div class="col-2  border border-black border-top-o">
    <%= render 'admin/partial/left_nav' %>
  </div>
  <div class="col-10">
    <div class="row">
      <h1 style='text-decoration: none;'><%= t('news_tickers')%> <%= link_to '+', class: 'btn btn-primary' %></h1>
      <div class="container">
        <%= form_with model: news_ticker, url: url, local: true do |form| %>
          <% if news_ticker.errors.any? %>
            <div id="error_explanation" class="alert alert-danger">
              <h2><%= pluralize(news_ticker.errors.count, "error") %></h2>
              <ul>
                <% news_ticker.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="mb-3">
            <%= form.label t('content')%>
            <%= form.text_area :content, class: 'form-control' %>
          </div>

          <div class="field">
            <%= form.label t('status') %>
            <%= form.select :status, options_for_select(NewsTicker.statuses.keys.map { |status| [I18n.t("news_tickers1.status.#{status}"), status] }) %>
          </div>
          <p></p>
          <p></p>
          <div style="margin-bottom: 10px;">
            <%= form.submit t('create_news_ticker'), class: 'btn btn-primary' %>
            <%= link_to t('back'), admin_news_tickers_path, class: "btn btn-primary", 'aria-current': 'page', style: 'background-color: lightblue; border: none;' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row border border-black"></div>

