<div class="container-fluid border border-black">
  <%= render 'client/partial/application_up' %>
  <div class="row mb-4"></div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p></p>
      <div class="row">
        <h1 class="container" style='background-color: skyblue; text-align: center; '>CASH IN</h1>
        <div class="container">
          <%= form_with model: @user, url: client_cash_in_path(@user), method: :patch, remote: true, data: { turbo: false } do |f| %>
            <div class="row">
              <div class="col mx-auto">
                <div class="card mb-4">
                  <div class="card-body">
                    <p class="card-title">
                    <div class="mb-3">
                      <%= f.label t('coins') %>
                      <div class="input-group">
                        <%= f.text_field :coins, class: 'form-control', max: @user.coins, min: @user.coins, id: 'coins-input' %>
                        <div class="input-group-append">
                          <button type="button" class="btn btn-primary" id="increment-coins">+</button>
                          <button type="button" class="btn btn-primary" id="decrement-coins">-</button>
                        </div>
                      </div>
                    </div>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col mx-auto">
                <%= f.submit t('submit') , class: 'btn btn-primary' %>&nbsp;&nbsp;<%= link_to t('back'), client_me_index_path, class: 'btn btn-secondary' %>
              </div>
            </div>
          <% end %>

        </div>
      </div>

    </div>

    <div class="col-2"></div>
  </div>


  <div class="row mb-4"></div>

  <%= render 'client/partial/application_down' %>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    $(document).ready(function() {
        var coinsInput = $('#coins-input');
        var incrementButton = $('#increment-coins');
        var decrementButton = $('#decrement-coins');

        incrementButton.click(function() {
            var currentValue = parseInt(coinsInput.val());
            coinsInput.val(currentValue + 1);
        });

        decrementButton.click(function() {
            var currentValue = parseInt(coinsInput.val());
            if (currentValue > 0) {
                coinsInput.val(currentValue - 1);
            }
        });
    });
</script>