<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "client/users/shared/error_messages", resource: resource %>
  <div class="row ">
    <div class="col-2 border border-black"></div>
    <div class="col-1 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
      <%= link_to 'Logo', client_root_path, class: "nav-link #{'active' if action_name == 'logo'}", 'aria-current': 'page' %>
    </div>
    <div class="col-4 border border-black"></div>
    <div class="col-3 border border-black">
      <div class="row ">
        <div class="col-3 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Coins</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Claim</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Language</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">
          <div class="row">
            <div class="col-1 d-flex justify-content-center">
              <div id="mySidenav" class="sidenav">
                <div class="row">
                    <h4><%= link_to 'Sign In', client_user_session_path, class: "nav-link", 'aria-current': 'page' %></h4>
                </div>
              </div>
            </div>
          </div>
          <nav class="navbar navbar-light bg-light" style="box-shadow: 0px 0px 8px #888888;">
            <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="Nav()" style="z-index: 2">
              <div class="animated-icon"><span></span><span></span><span></span></div>
            </button>
          </nav>
        </div>
      </div>
    </div>

    <div class="row mb-4"></div>
    <div class="row mb-4"></div>

    <div class="row" style="height: 50px;">
      <div class="col-2"></div>
      <div class="col-4" style="padding:0;"><%= link_to 'Log in', new_client_user_session_path, class: "btn btn-primary-light #{'active' if action_name == 'index' }", 'aria-current': 'page',
                                                        style: "border: 1px solid black; border-radius: 0%; width: 100%; height: 50px; " %>
      </div>
      <div class="col-4" style="padding:0;"><%= link_to 'Register', new_client_user_registration_path, class: "btn btn-primary #{'active' if action_name == 'index' }", 'aria-current': 'page',
                                                        style: "border: 1px solid black; border-radius: 0%; width: 100%; height: 50px;" %>
      </div>
      <div class="col-2"></div>
    </div>


    <div class="row" style="height: 50px;">
      <div class="col-2"></div>
      <div class="col-8" style="padding: 0;">
        <% if cookies[:promoter].present? %>
          <p>Referred by: <%= cookies[:promoter] %></p>
        <% end %>
      </div>
      <div class="col-2"></div>
    </div>



    <div class="row" style="height: 50px;">
      <div class="col-2"></div>
      <div class="col-8" style="padding:0;"><%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email",
                                                              style: "border: 1px solid black; border-radius: 0%; width: 100%; height: 50px; " %>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row mb-4"></div>
    <div class="row mb-4"></div>

    <div class="row" style="height: 50px;">
      <div class="col-2"></div>
      <div class="col-8" style="padding:0;">
        <div class="field">
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br/>
          <%= f.password_field :password, autocomplete: "new-password", autofocus: true, class: "form-control", placeholder: "Password",
                               style: "border: 1px solid black; width: 100%; height: 50px; " %>
        </div>
        <div class="col-2"></div>
      </div>
    </div>


    <div class="row mb-4"></div>
    <div class="row mb-4"></div>

    <div class="row" style="height: 50px;">
      <div class="col-2"></div>
      <div class="col-8" style="padding:0;"><%= f.password_field :password_confirmation, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password",
                                                                 style: "border: 1px solid black; border-radius: 0%; width: 100%; height: 50px; " %>
      </div>
      <div class="col-2"></div>
    </div>

    <div class="row mb-4"></div>
    <div class="row mb-4"></div>

    <div class="row" style="height: 50px;">
      <div class="col-2"></div>
      <div class="col-8" style="padding:0;"><%= f.submit "Log in", class: "form-control", placeholder: "LOG IN",
                                                         style: "border: 1px solid black; width: 100%; height: 50px; " %></div>
      <div class="col-2"></div>
    </div>

    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>
    <div class="row mb-4"></div>

    <%= render 'client/partial/application_down' %>

  </div>
<% end %>





