<%= render 'admin/partial/top_nav' %>
<div class="row">
  <div class="col-2  border border-black border-top-o">
    <%= render 'admin/partial/left_nav' %>
  </div>
  <div class="col-10">
    <div class="row">
      <div class="row mb-4"></div>
      <div class="col-6">
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <%= link_to t('increase'), new_admin_user_admin_orders_increase_path(user_id: @user.id), class: 'nav-link font-bold'%>
              </li>
              <li class="nav-item">
                <%= link_to t('deduct'), new_admin_user_admin_orders_deduct_path(user_id: @user.id), class: 'nav-link active font-bold text-dark' %>
              </li>
              <li class="nav-item">
                <%= link_to t('bonus'), new_admin_user_admin_orders_bonu_path(user_id: @user.id), class: 'nav-link font-bold' %>
              </li>
              <li class="nav-item">
                <%= link_to t('member_level'), new_admin_user_admin_orders_member_level_path(user_id: @user.id), class: 'nav-link font-bold' %>
              </li>
            </ul>
          </div>
          <%= form_with model: @order, url: admin_user_admin_orders_deduct_index_path(@user), method: :post, remote: true, data: { turbo: false } do |form| %>
            <% if @order.errors.any? %>
              <div id="error_explanation" class="alert alert-danger">
                <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
                <ul>
                  <% @order.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <%= form.hidden_field :user_id, value: @user.id %>
            <div class="card-body">
              <div class="row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="background-color: #a7acb1; border-bottom-right-radius: 0; border-top-right-radius: 0"><%= t('coins')%></div>
                  </div>
                  <%= form.text_field :coin, class: 'form-control', id: 'inlineFormInputGroupCoins' %>
                </div>
              </div>
              <div class="row mb-4"></div>
              <div class="row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="background-color: #a7acb1; border-bottom-right-radius: 0; border-top-right-radius: 0">Genre</div>
                  </div>
                  <div class="form-control" id="inlineFormInputGroupGenre" readonly="true" style="text-align: left"><%= t('deduct')%></div>
                </div>
              </div>
              <div class="row mb-4"></div>
              <div class="row">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text" style="background-color: #a7acb1; border-bottom-right-radius: 0; border-top-right-radius: 0"><%= t('remarks')%></div>
                  </div>
                  <%= form.text_field :remarks, class: 'form-control', id: 'inlineFormInputGroupRemark' %>
                </div>
              </div>
              <div class="row mb-4"></div>
              <div class="row">
                <div class="input-group" style="text-align: center; justify-content: right; align-items: center;">
                  <div class="input-group-prepend">
                    <%= form.submit t('submit'), class: 'input-group-text', style: "background-color: skyblue;" %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="col-6">
        <div class="row mb-4"></div>
        <div class="row mb-4"></div>
        <div class="card text-center" style="margin-right: 10px;">
          <div class="card-body">
            <div class="row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="background-color: #a7acb1; border-bottom-right-radius: 0; border-top-right-radius: 0">Username</div>
                </div>
                <div class="form-control" id="inlineFormInputGroupUsername" readonly="true" style="text-align: left">
                  <% if @user.username.present? %>
                    <%= @user.username %>
                  <% else %>
                    <%= t('no_username')%>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="row mb-4"></div>
            <div class="row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="background-color: #a7acb1; border-bottom-right-radius: 0; border-top-right-radius: 0"><%= t('promoter_name')%>
                  </div>
                </div>
                <div class="form-control" id="inlineFormInputGroupPromoterName" readonly="true" style="text-align: left">
                  <% if @user.parent&.email.present? %>
                    <%= @user.parent.email %>
                  <% else %>
                    <%= t('no_promoter')%>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="row mb-4"></div>
            <div class="row">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" style="background-color: #a7acb1; border-bottom-right-radius: 0; border-top-right-radius: 0"><%= t('coins')%></div>
                </div>
                <div class="form-control" id="inlineFormInputGroupCoins" readonly="true" style="text-align: left"><%= @user.coins %></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
      <div class="row mb-4"></div>
    </div>
  </div>
</div>

<div class="row border border-black"></div>

