<div class="container-fluid border border-black">
  <%= render 'client/partial/application_up' %>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <h1 style='text-decoration: none;'><%= t('address1') %> <%= link_to '+', new_client_address_path, class: 'btn btn-primary' %></h1>
      <div class="container" style="padding:0">
        <% @addresses.each do |address| %>
          <div class="row">
            <div class="col mx-auto"> <!-- Center the card within the column -->
              <div class="card mb-4">
                <div class="card-body">
                  <p class="card-title"><%= t('address') %>: <%= "#{address&.region&.name}, #{address&.province&.name}, #{address&.city&.name}, #{address&.barangay&.name}, #{address.street_address}" %></p>
                  <p class="card-text">Genre: <%= address.genre %></p>
                  <p class="card-text"><%= t('default') %>? <%= address.is_default? ?  t('yes')  : t('no')  %></p>
                  <div class="address-actions">
                    <%= button_to '-', client_address_path(address), method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <%= link_to t('back'), client_me_index_path, class: 'btn btn-secondary' %>
      <p></p>
    </div>
    <div class="col-2"></div>
  </div>
  <%= render 'client/partial/application_down' %>
</div>