<%= render 'admin/partial/top_nav' %>
<div class="row">
  <div class="col-2 border border-black border-top-o">
    <%= render 'admin/partial/left_nav' %>
  </div>
  <div class="col-10">
    <div class="row">
      <p></p>
      <h3 class="container" style="background-color: #8bb9fe; text-align: center; align-items: center; justify-content: center">TICKET LIST</h3>
      <p></p>
    </div>
    <div class="row">
      <div class="container border border-black p-4">
        <%= form_with(url: admin_tickets_path, method: :get, class: 'mb-3') do |f| %>
          <div class="row mb-3">
            <div class="col-md-4">
              <%= f.label :serial_number, class: 'form-label' %>
              <%= f.text_field :serial_number, value: params[:serial_number], class: 'form-control' %>
            </div>
            <div class="col-md-4">
              <%= f.label :item_name, class: 'form-label' %>
              <%= f.text_field :name, value: params[:name], class: 'form-control' %>
            </div>
            <div class="col-md-4">
              <%= f.label :email, class: 'form-label' %>
              <%= f.text_field :email, value: params[:email], class: 'form-control' %>
            </div>
          </div>

          <div class="row mb-3">
            <div class="col-md-4">
              <%= f.label :state, class: 'form-label' %>
              <%= f.select :state, Ticket.aasm.states.map(&:name), { include_blank: true, selected: params[:state] }, class: 'form-select' %>
            </div>
            <div class="col-md-4">
              <%= f.label :start_date, class: 'form-label' %>
              <%= f.date_field :start_date, value: params[:start_date], class: 'form-control' %>
            </div>
            <div class="col-md-4">
              <%= f.label :end_date, class: 'form-label' %>
              <%= f.date_field :end_date, value: params[:end_date], class: 'form-control' %>
            </div>
          </div>

          <%= f.submit 'Search', class: 'btn btn-primary' %>
        <% end %>

        <% @tickets.each_slice(4) do |ticket_slice| %>
          <div class="row mb-3">
            <% ticket_slice.each do |ticket| %>
              <div class="col-md-3">
                <div class="d-flex h-100">
                  <div class="card w-100">
                    <div class="card-body">
                      <h5>
                        <div class="card-footer text-muted">
                          <p class="card-text"><strong>ITEM: </strong><%= ticket.item&.name %></p>
                        </div>
                      </h5>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Client Email:</strong> <%= ticket.user&.email %></li>
                        <li class="list-group-item"><strong>Batch Count:</strong> <%= ticket.batch_count %></li>
                        <li class="list-group-item"><strong>Coins:</strong> <%= ticket.coins %></li>
                        <li class="list-group-item"><strong>Serial Number:</strong> <%= ticket.serial_number %></li>
                        <li class="list-group-item"><strong>State:</strong> <%= ticket.state %>
                          <% if ticket.may_cancel? %>
                            <%= button_to 'Cancel', cancel_admin_ticket_path(id: ticket), method: :post, class: 'btn btn-danger' %>
                          <% end %>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="row border border-black"></div>