<div class="container-fluid border border-black">
  <div class="row ">
    <div class="col-2 border border-black"></div>
    <div class="col-1 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
      <%= link_to 'Logo', client_root_path, class: "nav-link #{'active' if action_name == 'logo'}", 'aria-current': 'page' %>
    </div>
    <div class="col-4 border border-black"></div>
    <div class="col-3 border border-black">
      <div class="row ">
        <div class="col-3 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Coins</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Claim</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Language</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">
          <div class="row">
            <div class="col-1 d-flex justify-content-center">
              <div id="mySidenav" class="sidenav">
                <div class="row">
                  <% if @user %>
                    <div class="row">
                      <div class="col-11">
                        <%= render 'client/partial/left_side' %>
                      </div>
                      <div class="col-1">
                        <%= render 'client/partial/right_side' %>
                      </div>
                    </div>
                  <% else %>
                    <h4><%= link_to 'Sign In', client_user_session_path, class: "nav-link", 'aria-current': 'page' %></h4>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <nav class="navbar navbar-light bg-light" style="box-shadow: 0px 0px 8px #888888;">
            <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="Nav()" style="z-index: 2">
              <div class="animated-icon"><span></span><span></span><span></span></div>
            </button>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-2 border border-black"></div>
  </div>
  <%= render 'client/partial/banner' %>
  <div class="row mb-2"></div>
  <div class="row mb-2"></div>
  <div class="row ">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row-md-6">
        <div class="col" style="margin: 5px; padding: 0; text-align: center; align-items: center; justify-content: center">
          <% @offers.where("status = ?",'active').each_slice(2) do |offers_batch| %>
            <div class="row">
              <% offers_batch.each do |offer| %>
                <div class="col-md-6">
                  <%= link_to client_shop_path(offer), class: 'text-decoration-none text-dark' do %>
                    <div class="border border-black" style="height:300px; border-radius: 0%; margin: 10px; padding: 20px;">
                      <p style="margin-bottom: 10px; font-weight: bold;">Name: <%= offer.name %></p>
                      <%= image_tag offer.image.url, style: "width: auto; height: 200px; object-fit: cover;" if offer.image.present? %>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mb-2"></div>
  <div class="row mb-4"></div>

  <%= render 'client/partial/application_down' %>
</div>
