<%= render 'admin/partial/top_nav' %>
<div class="row">
  <div class="col-2  border border-black border-top-o">
    <%= render 'admin/partial/left_nav' %>
  </div>
  <div class="col-10">
    <div class="row">
      <h5>Hi, Admin: <%= @admin_user.email %></h5>
    </div>
    <div class="row">
      <% @client_users.each do |client_user| %>
        <div class="container" style="border:1px solid black;">
          <p>Client: <%= client_user.email %>
            <% if client_user.parent&.email.present? %>
              was invited by <%= client_user.parent&.email %>
            <% end %></p>
          <p>Total Deposit = ₱ <%= client_user.total_deposit %>
          <div class="container" style="border:1px solid black;">
            <% if client_user.users.present? %>
              <p>Member's Total Deposit = ₱<%= client_user.users.sum(&:total_deposit) %></p>
              <ul>
                <% client_user.users&.each do |child| %>
                  <li><%= child.email %> = ₱<%= child.total_deposit %></li>
                <% end %>
              </ul>
            <% else %>
              <li>No Members</li>
            <% end %></div>
          </p>
          <p>Coins = ₱ <%= client_user.coins %></p>
          <p>Total Used Coins = </p>
          <div> Phone Number: <%= client_user.phone %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= render 'admin/partial/extra' %>

