<div class="container-fluid border border-black">
  <div class="row ">
    <div class="col-2 border border-black"></div>
    <div class="col-1 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Logo</div>
    <div class="col-4 border border-black"></div>
    <div class="col-3 border border-black">
      <div class="row ">
        <div class="col-3 border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Coins</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Claim</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">Language</div>
        <div class="col-3 border border-black d-inline-flex p-2 " style="text-align: center; align-items: center; justify-content: center;">
          <div class="row">
            <div class="col-1 d-flex justify-content-center">
              <div id="mySidenav" class="sidenav">
                <div class="row">
                  <div class="col-11">
                    <%= render 'client/partial/left_side' %>
                  </div>
                  <div class="col-1">
                    <%= render 'client/partial/right_side' %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <nav class="navbar navbar-light bg-light" style="box-shadow: 0px 0px 8px #888888;">
            <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" onclick="Nav()" style="z-index: 2">
              <div class="animated-icon"><span></span><span></span><span></span></div>
            </button>
          </nav>
        </div>
      </div>
    </div>
    <div class="col-2 border border-black"></div>
  </div>

  <div class="row mb-4"></div>

  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="container border border-black">
        <div class="row">
          <div class="col-12">
            <div class="row mb-4"></div>
            <div class="row" style="margin-left: 5vh">Username: <%= @user.username %></p></div>
            <div class="row mb-2"></div>
            <div class="row" style="margin-left: 5vh">Email: <%= @user.email %></div>
            <div class="row mb-2"></div>
            <div class="row" style="margin-left: 5vh">Coins: <%= @user.coins %></div>
            <div class="row mb-4"></div>
            <div class="row" style="padding:0; margin: auto; text-align: center; align-items: center; justify-content: center ">
              <%= link_to 'Cash In Now', client_me_index_path, class: "btn btn-primary-light #{'active' if action_name == 'index' }", 'aria-current': 'page',
                          style: "border: 1px solid black; width: 95%; height: 30px; margin: auto; padding: 0;" %>
            </div>
            <div class="row mb-4"></div>
            <div class="row" style="padding:0; margin: auto; text-align: center; align-items: center; justify-content: center">
              <div class="col-6">
                <%= link_to 'Edit Profile', edit_client_user_registration_path, class: "btn btn-primary-light #{'active' if action_name == 'index' }", 'aria-current': 'page',
                            style: "border: 1px solid black; width: 95%; height: 30px; margin: auto; padding: 0;" %>
              </div>
              <div class="col-6">
                <%= link_to 'Address', client_addresses_path, class: "btn btn-primary-light #{'active' if action_name == 'index' }", 'aria-current': 'page',
                            style: "border: 1px solid black; width: 95%; height: 30px; margin: auto; padding: 0;" %>
              </div>
            </div>
            <div class="row mb-4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>

  <div class="row border border-black">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="row d-flex ">
        <div class="col border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Share</div>
        <div class="col border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
          <%= link_to 'Invite', client_invite_index_path, class: "nav-link #{'active'}", 'aria-current': 'page' %>        </div>
        <div class="col border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Lottery</div>
        <div class="col border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">Shop</div>
        <div class="col border border-black d-inline-flex p-2" style="text-align: center; align-items: center; justify-content: center;">
          <%= link_to 'Me', client_me_index_path, class: "nav-link #{'active' if action_name == 'sign in' }", 'aria-current': 'page' %>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>
</div>

<!--  <div>-->
<%#= image_tag @user.image.url if @user.image.present? %>
<!--  </div>-->







