<div class="container-fluid border border-black">
  <%= render 'client/partial/application_up' %>
  <div class="row mb-4"></div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <div class="container border border-black">
        <div class="row">
          <div class="col-12">
            <div class="row mb-4"></div>
            <div class="row" style="margin-left: 5vh">Username: <%= @user.username %></p></div>
            <div class="row mb-2"></div>
            <div class="row" style="margin-left: 5vh">Email: <%= @user.email %></div>
            <div class="row mb-2"></div>
            <div class="row" style="margin-left: 5vh">Coins: <%= @user.coins %></div>
            <div class="row mb-4"></div>
            <div class="row" style="padding:0; margin: auto; text-align: center; align-items: center; justify-content: center ">
              <%= link_to 'Cash In Now', client_me_index_path, class: "btn btn-primary-light #{'active' if action_name == 'index' }", 'aria-current': 'page',
                          style: "border: 1px solid black; width: 95%; height: 30px; margin: auto; padding: 0;" %>
            </div>
            <div class="row mb-4"></div>
            <div class="row" style="padding:0; margin: auto; text-align: center; align-items: center; justify-content: center">
              <div class="col-6">
                <%= link_to 'Edit Profile', edit_client_user_registration_path, class: "btn btn-primary-light #{'active' if action_name == 'index' }", 'aria-current': 'page',
                            style: "border: 1px solid black; width: 95%; height: 30px; margin: auto; padding: 0;" %>
              </div>
              <div class="col-6">
                <%= link_to 'Address', client_addresses_path, class: "btn btn-primary-light #{'active' if action_name == 'index' }", 'aria-current': 'page',
                            style: "border: 1px solid black; width: 95%; height: 30px; margin: auto; padding: 0;" %>
              </div>
            </div>
            <div class="row mb-4"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-2"></div>
  </div>

  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <div class="row mb-4"></div>
  <%= render 'client/partial/application_down' %>
</div>

<!--  <div>-->
<%#= image_tag @user.image.url if @user.image.present? %>
<!--  </div>-->







