<!DOCTYPE html>
<html>
<head>
  <title>App</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
      .sidenav {
          height: 100%;
          width: 0%;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #f8f9fa !important;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
          box-shadow: 0px 0px 8px #888888;
      }

      .sidenav a {
          padding: 8px 8px 8px 16px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
      }

      .sidenav a:hover {
          color: #f1f1f1;
      }

      .sidenav::-webkit-scrollbar {
          display: none;
      }


      .animated-icon {
          width: 30px;
          height: 20px;
          position: relative;
          margin: 0px;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          cursor: pointer;
      }

      .animated-icon span {
          display: block;
          position: absolute;
          height: 3px;
          width: 100%;
          border-radius: 9px;
          opacity: 1;
          left: 0;
          -webkit-transform: rotate(0deg);
          -moz-transform: rotate(0deg);
          -o-transform: rotate(0deg);
          transform: rotate(0deg);
          -webkit-transition: .25s ease-in-out;
          -moz-transition: .25s ease-in-out;
          -o-transition: .25s ease-in-out;
          transition: .25s ease-in-out;
      }

      .animated-icon span {
          background: #f3e5f5;
      }

      .animated-icon span:nth-child(1) {
          top: 0px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
      }

      .animated-icon span:nth-child(2) {
          top: 10px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
      }

      .animated-icon span:nth-child(3) {
          top: 20px;
          -webkit-transform-origin: left center;
          -moz-transform-origin: left center;
          -o-transform-origin: left center;
          transform-origin: left center;
      }

      .animated-icon.open span:nth-child(1) {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          top: 0px;
          left: 8px;
      }

      .animated-icon.open span:nth-child(2) {
          width: 0%;
          opacity: 0;
      }

      .animated-icon.open span:nth-child(3) {
          -webkit-transform: rotate(-45deg);
          -moz-transform: rotate(-45deg);
          -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
          top: 21px;
          left: 8px;
      }

      button {
          border: none !important;
      }

      button:focus {
          outline: none;
      }

      .center {
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          text-align: center;
          vertical-align: middle;
      }

      .carousel {
          height: 300px;
      }

      .carousel-inner {
          height: 100%;
          display: flex;
          align-items: center;
      }

      .carousel-item {
          height: 100%;
          width: 100%;
          overflow: hidden;
      }

      .carousel-item img {
          height: 100%;
          width: auto;
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          object-fit: cover;
      }

      .pagination {
          margin-top: 10px;
      }

      /* Add space between individual pagination items */
      .pagination li {
          margin-right: 5px;
      }

      html, body {
          padding: 0;
          margin: 0;
      }

      .ticker_wrap {
          display: flex;
      }

      .ticker__breaking {
          white-space: nowrap;
          background: red;
          color: #fff;
          overflow: hidden;
          padding: 10px 6px;
          display: inline-block;
          font-weight: bold;
      }

      .ticker__viewport {
          background: #0067E5;
          color: #fff;
          overflow: hidden;
          padding: 10px 0;
          display: inline-block;
          flex-grow: 1
      }

      .ticker__viewport a {
          cursor: context-menu;
          color: #fff;
          text-decoration: none;
      }

      .ticker__viewport a:hover {
          color: yellow;
          font-weight: bold;
      }

      .ticker__list {
          list-style-type: none;
          padding: 0;
          margin: 0;
          display: flex;
      }

      .ticker__item {
          display: inline-block;
          white-space: nowrap;
          padding-right: 40px;
      }

      .ticker__item:before {
          content: "";
          font-weight: bold;
      }
  </style>

</head>

<body>

  <div class="d-flex justify-content-center align-items-center vh-70">

    <% if flash[:notice] %>
      <div class="alert alert-success" role="alert">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert alert-danger d-flex justify-content-center align-items-center vh-70" role="alert">
        <%= flash[:alert] %>
      </div>
    <% end %>
  </div>


<%= yield %>

<script>
    function Nav() {
        var width = document.getElementById("mySidenav").style.width;
        if (width === "0px" || width == "") {
            document.getElementById("mySidenav").style.width = "50vw";
            $('.animated-icon').toggleClass('open');
        } else {
            document.getElementById("mySidenav").style.width = "0px";
            $('.animated-icon').toggleClass('open');
        }
    }


    $(document).ready(function () {
        $('#decrementQuantity').on('click', function () {
            decrementQuantity();
        });

        $('#incrementQuantity').on('click', function () {
            incrementQuantity();
        });

        function incrementQuantity() {
            var quantityField = $('#ticket_quantity');
            var currentValue = parseInt(quantityField.val());
            quantityField.val(currentValue + 1);
        }

        function decrementQuantity() {
            var quantityField = $('#ticket_quantity');
            var currentValue = parseInt(quantityField.val());
            if (currentValue > 0) {
                quantityField.val(currentValue - 1);
            }
        }
    });

    $(document).ready(function () {
        $('[data-toggle="modal"]').click(function () {
            var winnerId = $(this).data('target').replace('#orderHistoryModal', '');
            var modalTitle = $('#modalOrderTitle' + winnerId);
            var modalBody = $('#modalOrderBody' + winnerId);

            // Use AJAX to fetch additional details based on winnerId if needed
            // For simplicity, I'm just updating the modal title with the winnerId
            modalTitle.text('Comments - Winner ID: ' + winnerId);
        });
    });

    var $ticker = $('[data-ticker="list"]'),
        tickerItem = '[data-ticker="item"]'
    itemCount = $(tickerItem).length,
        viewportWidth = 0;

    function setupViewport() {
        $ticker.find(tickerItem).clone().prependTo('[data-ticker="list"]');

        for (i = 0; i < itemCount; i++) {
            var itemWidth = $(tickerItem).eq(i).outerWidth();
            viewportWidth = viewportWidth + itemWidth;
        }

        $ticker.css('width', viewportWidth);
    }

    function animateTicker() {
        $ticker.animate({
            marginLeft: -viewportWidth
        }, 30000, "linear", function () {
            $ticker.css('margin-left', '0');
            animateTicker();
        });
    }

    function initializeTicker() {
        setupViewport();
        animateTicker();

        $ticker.on('mouseenter', function () {
            $(this).stop(true);
        }).on('mouseout', function () {
            animateTicker();
        });
    }

    initializeTicker();
</script>
</body>
</html>
